.import-tool {
  background: #FFF;
  padding: 20px;
  max-width: 800px;
  min-width: 100px;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background-color: #ccc;
}

h2 {
  margin-top: 2px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1f2937;
}

p {
  margin-top: 4px;
  font-size: 0.875rem;
  color: #4b5563;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #666;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-grid-wrapper {
  position: relative;
  max-height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.image-item {
  text-align: center;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-item p {
  margin-top: 5px;
  font-size: 14px;
}

.button-div {
  position: relative;
}

.add-file-button {
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  color: white;
  background-color: #6771EA;
  border: none;
}

.add-file-button:hover {
  background-color: #0056b3;
}

.add-file-button:focus {
  outline: none;
}